
<!DOCTYPE html>
<html>
  <head>
  <title>test</title>
  </head>

  <%= stylesheet_link_tag "navbar" %>

<div class="navbar">
  <h1 class="logo">Logo</h1>
  <h1 class="#">Передаю</h1>
  <a href="#">Документы</a>
  <a href="#">Аккаунты</a>
</div>

</html>
